/*GENREAL
----------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
}

/* HEADER
----------------------------------------------------------*/

header{
    background-color: #384d50;
    width: 20vw;
    padding: 30px;
    border-radius: 0 25px 25px 0;
}

.logo{
    width: 49px;
    height: 49px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
    cursor: pointer;
}

header nav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    gap: 25px;
}

.nav-link{
    color: white;
    text-decoration: none;
}

.nav-link{
    display: flex;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.first-link{
    background-color: rgba(0, 0, 0, 0.37);
}



/*MAIN
----------------------------------------------------------*/

main{
  padding: 30px; 
  width: 80vw;
}

.profileInfo{
    display: flex;
    justify-content: space-between;
  
}

.display{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

h2{
    color: #384d50;
}

.bar{
    font-size: 25px;
    color: #384d50;
    cursor: pointer;
}

.cart{
    font-size: 20px;
    color: #384d50;
    cursor: pointer;
}

.profileImg{
    width: 35px;
    border-radius: 50%;
    border: 0.5px solid rgba(0, 0, 0, 0.301);
}

.userInfo{
    display: flex;
}

.userInfo ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/* ACCOUNT
----------------------------------------------------------*/

.account{
    height: 89vh;
    display: block;
}

.accountInfo{
    height: 78vh;
}


.accountButtons{
    display: flex;
    height: 10vh;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


.deleteButton, .editButton{
    padding: 20px;
    border-radius: 5px;
    border: 2px solid #384d50;
    background-color: white;
    color: #384d50;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

.deleteButton{
    background-color: rgba(255, 0, 0, 0.836);
    color: white;
    border: 2px solid white;
}

.hidden{
    display: none;
}

.width{
    width: 100%;
}