/*GENREAL
----------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
}

/* HEADER
----------------------------------------------------------*/

header{
    background-color: #384d50;
    width: 20%;
    padding: 30px;
    border-radius: 0 25px 25px 0;
}

.logo{
    width: 49px;
    height: 49px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
    cursor: pointer;
}

header nav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    gap: 25px;
}

.nav-link{
    color: white;
    text-decoration: none;
}

.nav-link{
    display: flex;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.first-link{
    background-color: rgba(0, 0, 0, 0.37);
}



/*MAIN
----------------------------------------------------------*/

main{
  padding: 30px; 
  width: 100%;
}

.profileInfo{
    display: flex;
    justify-content: space-between;

}

.display{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

h2{
    color: #384d50;
}

.bar{
    font-size: 25px;
    color: #384d50;
    cursor: pointer;
}

.cart{
    font-size: 20px;
    color: #384d50;
    cursor: pointer;
}

.profileImg{
    width: 35px;
    border-radius: 50%;
    border: 0.5px solid rgba(0, 0, 0, 0.301);
}

.userInfo{
    display: flex;
}

.userInfo ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/* ACCOUNT
----------------------------------------------------------*/

.account{
    display: flex;
    height: 30vh;
    justify-content: space-between;
    align-items: center;

}


.account button{
    width: 30%;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #384d50;
    background-color: white;
    color: #384d50;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

/*ORDER
----------------------------------------------------------*/

.order{
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    margin-top: 30px;
    height: 84vh;
    overflow: scroll;
}

.order::-webkit-scrollbar{
    display: none;
}


.food{
    background-color: rgba(212, 217, 221, 0.692);
    padding: 10px;
    border-radius: 20px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}


.food img{
    width: 255px;
    height: 250px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

.foodDetail{
    text-align: center;
    margin: 10px 0;
    color: #384d50;
}

.foodDetail p{
    margin: 5px 0;
    font-size: 20px;
}

.foodPrice{
    color: #384d50;
    width: 100px;
    font-size: 10px;
    position: absolute;
    top: 10px;
    left: 35px;
    font-weight: bold;
    background-color: rgb(183, 196, 207);
    border-radius: 10px;
}

.cartButton{
    padding: 7px 10px;
    border-radius: 10px;
    border: 1px solid #384d50;
    background-color: rgba(255, 255, 255, 0.096);
    color: #384d50;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    transition: 0.5s;
}

.cartButton:hover{
    background-color: #384d5056;
    border: 1px solid white;
    color: white;
}











