/*GENREAL
----------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
}

/* HEADER
----------------------------------------------------------*/

header{
    background-color: #384d50;
    width: 20vw;
    padding: 30px;
    border-radius: 0 25px 25px 0;
}

.logo{
    width: 49px;
    height: 49px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
    cursor: pointer;
}

header nav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    gap: 25px;
}

.nav-link{
    color: white;
    text-decoration: none;
}

.nav-link{
    display: flex;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.first-link{
    background-color: rgba(0, 0, 0, 0.37);
}



/*MAIN
----------------------------------------------------------*/

main{
  padding: 30px; 
  width: 80vw;
}

.profileInfo{
    display: flex;
    justify-content: space-between;
  
}

.display{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

h2{
    color: #384d50;
}

.bar{
    font-size: 25px;
    color: #384d50;
    cursor: pointer;
}

.cart{
    font-size: 20px;
    color: #384d50;
    cursor: pointer;
}

.profileImg{
    width: 35px;
    border-radius: 50%;
    border: 0.5px solid rgba(0, 0, 0, 0.301);
}

.userInfo{
    display: flex;
}

.userInfo ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/*MENU
----------------------------------------------------------*/

.menu{

    height: 92vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 80vh;
    overflow: scroll;
    grid-gap: 20px;
    padding: 30px;
    margin-top: 10px;
}


.menu::-webkit-scrollbar{
    display: none;
}

.food{
    background-color: rgba(212, 217, 221, 0.692);
    padding: 10px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 350px;
    position: relative;
}


.food img{
    width: 255px;
    height: 250px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

.foodDetail{
    text-align: center;
    margin: 10px 0;
    color: #384d50;
}

.foodDetail p{
    margin: 5px 0;
    font-size: 20px;
}

.foodPrice{
    color: #384d50;
    width: 100px;
    font-size: 10px;
    position: absolute;
    top: 10px;
    left: 30px;
    font-weight: bold;
    background-color: rgb(183, 196, 207);
    border-radius: 10px;
}


.createButton{
    background-color: white;
    color: #384d50;
    padding: 7px 10px;
    border: 2px solid #384d50;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    transition: 0.5s;
}

/*ORDERS
-----------------------------------------------------*/
.orders{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 30vw;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 100vh;
    overflow: scroll;
    padding: 10px;
}

.orders::-webkit-scrollbar{
    display: none;
}


.cancel{
    font-size: 15px;
    color: #384d50;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

.cancel:hover{
    background-color: #384d5048;
    border: 1px solid #384d50;
}

.selectedOrder{
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    gap: 20px;

}

.selectedOrder div{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    width: 100%;
    grid-gap: 10px;
}

.food{
    max-width: 300px;
}

.productName, .productPrice{
    font-weight: bold;
    font-size: 15px;
    color: #384d50;
}

.selectedOrder img{
    width: 90px;
    height: 90px;

}

.orderHead{
    display: flex;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}


.orderStatus{
    /* margin-top: 7px;
    padding: 5px 10px; */
    color: rgb(255, 251, 0);
    background-color: #384d507c;
    padding: 3px 10px;
}


.orderMade{
    background-color: #384d503a;
    padding: 3px 5px;
}

.acceptOrder{
    border-top: 1px solid #384d50;
    font-size: 20px;
    color: #384d50;
}

.totalPrice{
    float: right;
    padding: 10px 0;
}

.trash{
    color: rgba(255, 0, 0, 0.521);
    cursor: pointer;
}

/* .buyButton{
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px 50px;
    border-radius: 10px;
    border: 2px solid white;
    background-color: #384d50;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
} */

.hidden{
    display: none;
}

.width{
    width: 100%;
}


